* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  text-align: center;
  background-color: hsl(0, 0%, 94%);
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 45rem;
  font-size: 2.35rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  height: auto;
  width: auto;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 25px 25px 200px 25px;
}

.ageForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
}

.formGroup {
  width: 33.33%;
}

.formGroup label {
  display: block;
  font-weight: bold;
  padding-bottom: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  color: #808080;
  letter-spacing: 3px;
  font-size: 18px;
}

.formGroup input {
  width: 75%;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  cursor: pointer;

  &:focus {
    outline-color: hsl(259, 100%, 65%);
    border: 1px solid hsl(259, 100%, 65%);
    caret-color: hsl(259, 100%, 65%);
  }
}

.line-container {
  position: relative;
  text-align: end;
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 1.5rem;
}

.line-container hr {
  color: #808080;
}

.btn {
  width: 80px;
  height: 80px;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  background-position: center;
  background-image: url("/assets/images/icon-arrow.svg");
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: -20px;

  &:hover {
    background-color: hsl(0, 0%, 8%);
  }
}

div#results {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
  font-size: 4.25rem;
  font-style: italic;
  padding: 3rem;
  padding-top: 0;

  span {
    padding-inline-end: 1rem;
    color: hsl(259, 100%, 65%);
  }
}

#invalidDate,
#errorMessageDay,
#errorMessageMonth,
#errorMessageYear {
  color: red;
  font-size: 16px;
  opacity: 0.6;
  font-style: italic;
}

/********/
/*
.dayInputError {
  color: red;
  visibility: hidden;
}

.monthInputError {
  color: red;
  visibility: hidden;
}

.yearInputError {
  color: red;
  visibility: hidden;
}

@media (max-width: 780px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
  }

  .mainFrame {
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 100px 20px;
  }

  .dayOfBirth {
    width: 100%;
    padding: 0;
    margin: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  .inputFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-bottom: 50px;
  }

  .inputFrame p {
    font-size: 0.65rem;
  }

  .dayOfBirth label {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .dayOfBirth input {
    font-size: 1.4rem;

    padding: 6px;
    text-align: center;

    width: 90px;
    height: 50px;
  }

  .ageResult {
    font-size: 2.5rem;

    margin: 0;
    padding: 20px 0;
  }

  #submitButton {
    width: 60px;
    height: 60px;

    position: absolute;
    bottom: -30px;
    right: 42%;
  }

  .dayInputError {
    width: 76px;
    text-align: center;
  }

  .monthInputError {
    width: 76px;
    text-align: center;
  }

  .yearInputError {
    width: 76px;
    text-align: center;
  }
}
*/
